* {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

header img {
  width: 10vw;
  margin: 0 auto;
  padding-left: 42vw;
}

header nav {
  text-align: center;
  padding: 0.5em 0;
  background-color: Black;
}

header nav a {
  text-decoration: none;
  color: White;
  font-size: 1em;
  padding: 0.5em 1em;
  position: relative;
}

nav li {
  padding: 0.5em 0;
}

header nav a::after {
  content: '';
  display: inline-block;
  width: 0;
  height: 1px;
  background-color: orange;
  margin-top: 2.2em;
  position: absolute;
  top: 0;
  left: 0;
  transition: .3s all;
}

nav li:hover a::after {
  width: 100%;
}

nav li:hover {
  background-color: rgb(70, 70, 70);
}

.active {
  color: DarkOrange;
  background-color: rgb(70, 70, 70);
  border-bottom: solid orange 1px;
}

/* header nav a:focus {
  color: DarkOrange;
  background-color: rgb(70, 70, 70);
} */
main {
  display: flex;
  height: calc(100vh - 0.3em);
}

main i {
  padding-left: 9em;
}

p {
  margin: 1em 0;
}

h2 {
  margin: 1em 0;
}

h3 {
  margin: 1em 0;
}

nav ul ul {
  display: none;
}

.sidemenu {
  flex: 1;
  background-color: black;
  min-height: 200%;
}

a {
  text-decoration: none;
  color: white;
  font-size: 0.7em;
}

.sidemenu a {
  display: block;
  padding: 1em 1em;
}

.content {
  width: 9.3em;
  background-color: rgb(10, 10, 10);
  margin: 0.3em 0.3em 0.3em -1.5em;
}

.content a:focus {
  background-color: rgb(70, 70, 70);
  border-left: 0.1em solid DarkOrange;
}

.content a:hover {
  background-color: rgb(70, 70, 70);
  border-left: 0.1em solid DarkOrange;
}

.dropdown-btn:hover {
  background-color: rgb(70, 70, 70);
}

.dropdown-btn {
  width: 10em;
  background-color: rgb(10, 10, 10);
  margin: 0.3em;
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
}

.sidemenu li {
  padding: 0;
}

.container {
  flex: 4;
}

iframe {
  width: 80vw;
  height: 100vw;
  border-width: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  margin: 2em 2em;
}

.card {
  width: 15em;
  height: 10em;
  perspective: 1000px;
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .inner {
  box-shadow: 0 0.2em 0.2em 0 LightGrey;
  transform: rotate3d(0, 180, 0, 180deg);
  transition-duration: 1s;
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 0.1em solid Grey;
  border-radius: 0.5em;
}

.back {
  background-color: orange;
  color: white;
  transform: rotateY(180deg);
  font-size: 2em;
  text-align: center;
}

.back p {
  margin: 1em;
}

.circle {
  width: 3em;
  height: 3em;
  background-color: LightGrey;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 1em;
  color: Black;
  font-weight: bold;
}

.number {
  width: 0.7em;
  height: 1em;
  margin: auto;
  padding-top: 1em;
}

.text {
  width: 3em;
  height: 1em;
  color: black;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: bold;
}

.number.wide {
  width: 2em;
}

.text.wide {
  width: 5em;
}

.text.medium {
  width: 4em;
}

.number.medium {
  width: 1em;
}

.crd:hover .circle {
  background-color: orange;
}

footer {
  color: white;
  width: 100%;
  background-color: Black;
  text-align: center;
  position: fixed;
  bottom: 0;
}

.copyright {
  padding: 1em;
}