* {
  margin: 0;
}

body {
  font-family: sans-serif;
  background-color: #56b949;
}

#main {
  margin: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

#set img {
  width: 5em;
  height: auto;
  display: block;
  margin: 0 auto;
}

button {
  background-color: #56b949;
  border-radius: 1em;
  padding: 1em;
  border: solid white 0.1em;
  color: white;
}

button:focus {
  outline: none;
}

#buttons {
  display: inline-block;
  position: absolute;
  top: 20em;
  left: 33em;
}

h2 {
  color: white;
  margin: 0 auto;
  font-weight: lighter;
}

#user {
  text-align: center;
}

#host {
  text-align: center;
}

#new {
  display: block;
  margin: 0 auto;
  margin-top: 1em;
}

button:hover {
  color: darkRed;
  border-color: darkRed;
}

#new:focus {}

#user_hand {
  min-height: 6em;
}

#host_hand {
  min-height: 6em;
}

#take:disabled {
  color: grey;
  border-color: grey;
}

#stop {
  margin-left: 5em;
}

#stop:disabled {
  color: grey;
  border-color: grey;
}

#winner {
  position: absolute;
  font-size: 2em;
  color: darkRed;
  font-weight: lighter;
  width: 5em;
  height: 2em;
  display: block;
}